@charset "UTF-8";

/* Top Content */
#contact_page {
    background: #192F60;
    padding: 165px 4% 15% 4%;
}

/* コンタクトフォーム */
#contact_form {
    background: #FFFFFF;
    margin: -13% 4% 4% 4%;
    padding: 8% 23%;
    display: block;
}

form div {
    margin: 5% auto;
}
.form_title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #192F60;
}

.form_title span {
    background-color: #BA1C1C;
    color: #FFFFFF;
    font-size: 13px;
    padding: 2px 7px;
    margin-left: 10px;
}

.adopt_area label {
    white-space: nowrap;
}

input[type="radio"]{
    margin-left: 3%;
    margin-right: 5px;
}

.name_flex {
    display: flex;
    gap: 3%;
    margin-top: auto;
}

input[type="text"],
input[type="email"],
textarea {
    border: solid 1px #c4c4c4;
    padding: 2%;
    width: 100%;
}

input::placeholder {
    color: #c4c4c4;
}

.form_line {
    border-style: none;
    border-top: 1px solid #EDEEF0;
}

.policy_area {
    text-align: center;
}

.policy_link {
    text-decoration: underline;
    color: #219AC8;
}

input[type="checkbox"]{
    display: none;
}

.checkbox_text {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 3%;
    position: relative;
}

.checkbox_text::before {
    content: '';
    border: 1px solid #DDD;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-right: 10px;
}

input[type="checkbox"]:checked + .checkbox_text::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 10px;
    margin: auto;
    width: 10px;
    height: 15px;
    border-right: 2px solid #7D7F86;
    border-bottom: 2px solid #7D7F86;
    transform: rotate(45deg);
}

.submit_btn {
    display: block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #192F60;
    padding: 3% 20%;
    margin: 12% auto 0 auto;
    transition: all 0.3s ease-out;
}
.submit_btn:hover {
    background-color: #192F6000;
    outline: solid 1px #192F60;
    color: #192F60;
}
